---
layout: default
title: "Inicio"
---
<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  {% assign images = site.static_files | where: "carousel", true %}
  <ol class="carousel-indicators">
  {% for image in images %}
    {% if forloop.first == true %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}" class="active"></li>
    {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index }}"></li>
    {% endif %}
  {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% assign images = site.static_files | where: "carousel", true %}
    {% for image in images %}
      {% if forloop.first == true %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
        <img src="{{ image.path }}" class="d-block w-100" alt="Carousel">
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>

<!--Jumbotron-->
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
      Gato Polilla es una empresa creada por estudiantes mexicanas, amantes del diseño y del arte que decidieron crear un servicio fotográfico, nos caracteriza el profesionalismo, la creatividad y originalidad.
    </p>
    <p class="lead">
      Ponemos pasión y entrega en cada una de las sesiones, al ser personalizadas descubrimos la esencia en cada una de las fotografías tomadas. Al brindarnos tu confianza de trabajar con nosotras, te garantizamos un trabajo con el cual quedaras satisfecho.
    </p>
  </div>
</div>