$backgroundColor: #ffffff;
$bodyColor: #000000;
//$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
header{
  margin-bottom: 1rem;
}
.lead{
  text-align: justify;
}
#cuadricula div{
  margin: .75rem 0;
}
.logo{
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: auto;
}
span#titulo{
  font-size: 2.5rem;
  display: block;
  text-align: center;
}
span#subtitulo{
  font-size: 1.75rem;
  display: block;
  text-align: center;
}
footer{
  color: white;
  background: black;
}